.App {
  text-align: center;
}

.App-background {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.MainCard {
  min-height: 90vh;
  min-width: 90vw;
}

.NoteInput {
  min-height: 55vh;
}

#title {
  font-size: 5rem;
  color: black;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
